<html xmlns="http://www.w3.org/1999/xhtml">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>SIM</title>
 <!-- 新 Bootstrap 核心 CSS 文件 -->
 <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/base.css" >
{% block extend_css %}{% endblock %}

</head>
<div class="main">

<!-- nav -->
  <nav class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header"> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://127.0.0.1:8000/entry">
          LOGO
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">{{user.email}}</a></li>
          <li><a href="http://127.0.0.1:8000/entry/write">Write</a></li>
          {% if user.is_authenticated %}
            <li><a href="http://127.0.0.1:8000/entry/logout">Log Out</a></li>
          {% else %}
            <li><a href="http://127.0.0.1:8000/entry/login">Log In</a></li>
          {% endif %}
        </ul>
        <form class="navbar-form navbar-right">

        </form>
      </div>
    </div>
  </nav>

  {% block content_body %}{% endblock%}

<div class="footer">
  <div class="container">
    <p>&copy; 2015 Joc Project</p>
  </div>
</div>


</div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>