{% extends "base.html" %}
{% load markdown_deux_tags %}
{% block extend_css %}
    <link rel="stylesheet" href="/static/css/entry.css" >
    <link rel="stylesheet" href="/static/css/rank.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-combined.min.css">
{% endblock %}
{% block content_body %}

  <div class="entry_lists container">
    
    <div class="date-select">
      <div class="input-append date" id="datetimepicker" data-date="12-02-2012" >
        <input class="span2 hidden" size="16" type="text" value="12-02-2012">
        <h1 class="add-on">Time<span class="glyphicon glyphicon-calendar"></span></h1>
      </div>
      
    </div>

    <div class="rankList">
    {% for song in songList %}
    <div class="rank">
          <div class="rank-l">
          <a href="http://music.163.com/#/song?id={{song.song_ID}}"> {{ song.song_Name}}
          </a><small class="text-right"></small>
          </div>
          <div class="rank-r" ><div class="rank-r-bg" style="width:{{song.score}}%">{{song.score}}</div></div>
      </div>
      {% endfor %}
    </div>

    
  </div>

{% endblock %}
{% block js_block %}
    <script type="text/javascript" src="/static/js/jquery.pin.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $(".date-select").pin({
        containerSelector:".container"
      });

      $("#datetimepicker").datetimepicker({
        format: 'MM/dd/yyyy',
        language: 'en',  
        pickDate: true

      }).on('changeDate',function(ev){
        var date = new Date(ev.date.valueOf());
        Y = date.getFullYear();
        date.getMonth() < 10 ? M ='0'+(date.getMonth()+1): M =date.getMonth()+1;
        date.getDate() <10 ? D = '0'+(date.getDate()-1): D = date.getDate();
        date = Y+''+M+''+D ;
        $(".add-on").html(date+'<span class="glyphicon glyphicon-calendar"></span>');
        $.get('http://'+location.hostname+':'+location.port+'/getRank/api/week/{{user_ID}}/'+date,function(data){
            $(".rankList").html(data);
          });
   

      });


        



    }); 

    </script>
{% endblock %}