{% extends "base.html" %}
{% block extend_css %}
    <link rel="stylesheet" href="/static/css/entry.css" >
    <link rel="stylesheet" href="/static/css/flexText.css">
    {{ articleForm.media }}
{% endblock %}
{% block content_body %}
{% if user.is_authenticated %}

  <div class="write container">
    
    <div class="article"> 
      <div class="article_header">
      </div>

      <article class="markdown-body">

        <form action="" method="POST">{% csrf_token %}
          

        <div class="form-markdown"> 

          {{ articleForm.content_markdown }}
          
        </div>
        <div class="form-button">
          <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button> 
        </div>
        </form>

      </article>
      </div>
  </div>

{%else%}
  <div class="entry_lists container">
    
    <div class="article">
      <div class="article_header">
          <h1>{{ state }}<small class="text-right">{{article.author}}</small></h1>
      </div>

      <article class="markdown-body">

          <h2>密码或账号错误</h2>
          <a href="http://127.0.0.1:8000/entry/login">返回</a>
   

      </article>
      </div>
  </div>
{%endif%}
{% endblock %}

{% block footer %}
{% endblock %}


{% block js_block %}
  <script type="text/javascript" src="/static/js/autogrow.js"></script>
  <script >


  $(document).ready(function() {
    $("#id_content_markdown").autoGrow();
    if ($('#wmd-input').length > 0) {
                var converter = new Markdown.Converter();
                var help = function () { window.open('http://stackoverflow.com/editing-help'); }
                var editor = new Markdown.Editor(converter, null, { handler: help });
                var $dialog = $('#insertImageDialog').dialog({ 
                    autoOpen: false,
                    closeOnEscape: false,
                    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); }
                });
                var $loader = $('span.loading-small', $dialog);
                var $url = $('input[type=text]', $dialog);
                var $file = $('input[type=file]', $dialog);
                editor.hooks.set('insertImageDialog', function(callback) {
                    // dialog functions
                    var dialogInsertClick = function() {                                      
                        callback($url.val().length > 0 ? $url.val() : null);
                        dialogClose();
                    };
                    var dialogCancelClick = function() {
                        dialogClose();
                        callback(null);
                    };
                    var dialogClose = function() {
                        // clean up inputs
                        $url.val('');
                        $file.val('');
                        $dialog.dialog('close');
                    };
                    // set up dialog button handlers
                    $dialog.dialog( 'option', 'buttons', { 
                        'Insert': dialogInsertClick, 
                        'Cancel': dialogCancelClick 
                    });
                    var uploadStart = function() {
                        $loader.show();
                    };
                    var uploadComplete = function(response) {
                        $loader.hide();
                        if (response.success) {
                            callback(response.imagePath);
                            dialogClose();
                        } else {
                            alert("There was an error upload your file.  The server says: " + response.message);
                            $file.val('');
                        }
                    };
                    // upload
                    $file.unbind('change').ajaxfileupload({
                        action: $file.attr('data-action'),
                        onStart: uploadStart,
                        onComplete: uploadComplete
                    });
                    // open the dialog
                    $dialog.dialog('open');
                    return true; // tell the editor that we'll take care of getting the image url
                });
                editor.run();
            }
    x=0;

    $("#id_content_markdown").scroll(function(){
        scrollMD = document.getElementById('id_content_markdown').scrollHeight;
        scrollPD = document.getElementById('id_content_markdown_wmd_preview').scrollHeight;
        scrollTo = $(this).scrollTop();
        scrollPo = scrollTo * scrollPD / scrollMD;

        $("#id_content_markdown_wmd_preview").scrollTop(
          scrollPo
        );
        });


  });
</script>
{% endblock %}